Source: ros-kinetic-ifm3d-core
Section: misc
Priority: extra
Maintainer: Christian Ege <christian.ege@ifm.com>
Build-Depends: debhelper (>= 9.0.0), cmake, curl, libboost-all-dev, libcurl4-openssl-dev, libgoogle-glog-dev, libopencv-dev, ros-kinetic-pcl-ros
Homepage: https://github.com/lovepark/ifm3d
Standards-Version: 3.9.2

Package: ros-kinetic-ifm3d-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, curl, libcurl4-openssl-dev, libgoogle-glog-dev, libopencv-dev, ros-kinetic-pcl-ros
Description: Library and Utilities for working with ifm pmd-based 3D ToF Cameras
